body {
    text-align: justify;
    background-image: url("../images/085c66b0c1a6307fbf7a7e2f10923757.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(240, 146, 6);
}
nav{
    padding: auto
}
button {
    padding: .7%;
    margin: 2% 0;
    color: rgb(240, 146, 6);
    background-color: rgb(0, 245, 0);
}
.home {
    background-image: url("../images/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: cornsilk;
    padding: 7% 3%;
}

.contact, .about {
        text-align: center;
        margin-bottom: 30px;
        padding-top: 0px; 
        padding: 30px;
        background-color: rgba(32, 32, 32, 0.815);
}
h2 {
    text-align: center;
    margin: 8% 0;
}
.abt h3{
    color: white;
}
.carousel {
   padding: 5% 20%
  }

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: blanchedalmond;
    text-decoration: none;
}
